.container {
  min-height: 100vh;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 1;
}

.container .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/5291450.jpg");
  background-color: rgba(2, 143, 2, 0.404);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.container .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
