.container {
  width: 95vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/5291450.jpg");
  background-color: rgba(2, 143, 2, 0.404);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  height: 20px;
}

.form button {
  margin-top: 20px;
}
