* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 80%;
  min-width: 180px;
  margin-left: 5px;
  margin-right: 5px;
}

.container .menu {
  margin-top: 20px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container button {
  width: 180px;
  min-height: 70px;
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.container span {
  margin-right: 10px;
}
